# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Streamlit
.streamlit/secrets.toml

# Database
*.db
*.sqlite
*.sqlite3

# Uploaded images
uploads/lost/*
uploads/found/*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/

# Python cache
.pytest_cache/
.mypy_cache/

# Logs
*.log